/* src/app/login/login.component.css */
.left-column {
    background-image: url('/assets/image.png');
  }
  
  .centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .welcome-text {
    color: white;
    text-align: center;
  }
  
  .login-container {
    width: 75%;
    max-width: 32rem;
  }
  
  .text-center {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .input-group {
    margin-bottom: 1rem;
  }
  
  .input-group label {
    display: block;
    color: #4a5568; /* text-gray-700 */
  }
  
  .input-group input {
    width: 100%;
    padding: 0.75rem 1rem;
    border: 1px solid #cbd5e0; /* border-gray-400 */
    border-radius: 0.375rem; /* rounded-lg */
  }
  
  .button-primary {
    width: 100%;
    padding: 0.75rem;
    background-color: #6b46c1; /* bg-purple-600 */
    color: white;
    font-weight: bold;
    border-radius: 0.375rem;
  }
  /* <button type="submit" class="w-full py-3 bg-purple-600 text-white font-bold rounded-lg">Login</button> */
  
  .button-primary:hover {
    background-color: #553c9a; /* hover:bg-purple-700 */
  }
  
  .link {
    color: #4299e1; /* text-blue-500 */
  }
  
  .link:hover {
    text-decoration: underline;
  }
  